/* Estilos CSS para la pÃ¡gina */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  margin-right: 5px;
}
.logo-text {
  font-size: 24px;
}

.name-and-photo {
  display: flex;
  align-items: center;
}

.name-and-photo h1 {
  margin-left: 10px;
}

.photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.datos {
  flex: 2;
  background-color: #eee;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.datos table {
  width: 100%;
  border-collapse: collapse;
}

.datos td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.datos td:first-child {
  font-weight: bold;
  width: 120px;
}

.datos input[type="text"],
.datos input[type="email"],
.datos input[type="password"],
.datos input[type="tel"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.datos input[type="text"]:focus,
.datos input[type="email"]:focus,
.datos input[type="password"]:focus,
.datos input[type="tel"]:focus {
  outline: none;
  border-color: #4CAF50;
}

.datos button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.datos button i {
  margin-right: 5px;
}

.datos button:hover {
  background-color: #45a049;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left-slide {
  position: relative;
  animation: slideLeft 0.5s;
  animation-fill-mode: forwards;
}

.button-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 
}
.button-edit {
  width: auto;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
}

  
   /* Estilos CSS adicionales */
   .botones {
    text-align: right;
  }

  .botones button:first-child {
    background-color: #f2f2f2;
    color: #333;
  }

  .botones button:last-child {
    background-color: #4CAF50;
    color: white;
  }

  .botones button:last-child i {
    margin-right: 5px;
  }

/* menu */

.container {
margin-top: 50px;
display: flex;

}

.menu {
margin-bottom: 10px;
text-align: center;
padding: 10px;
width: fit-content;
margin-right: 20px;
}
.menu h2 {
margin-bottom: 10px;
}

.menu-buttons {
display: flex;
justify-content: center;
}

.menu-buttons button {
margin: 0 5px;
}

.menu h2 {
margin-bottom: 20px;
text-align: center;
}

.menu button {

margin-bottom: 10px;
width: 100%;
background-color: #ff7600bd;
color: white;
padding: 10px 20px;
border: none;
border-radius: 20px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.menu button:hover {
background-color: #45a049;
}
/* fin menu*/

.reservation-history {
display: flex;
overflow-x: auto;
margin-top: 50px;
}

.reservation-info {
display: flex;
flex-direction: column;
align-items: center;
margin-right: 20px;
text-align: center;
background-color: #ff7600bd;
padding: 10px;
border-radius: 10px;
}

.reservation-info:not(:last-child) {
margin-right: 10px;
}

.reservation-info img {
width: 200px;
height: auto;
margin-bottom: 10px;
border-radius: 10px;
}

.room-number {
font-size: 18px;
margin-bottom: 5px;
}

.room-type {
font-size: 14px;
margin-bottom: 5px;
}
.icon-white {
background-color: white;
color: black; /* Opcional: establece el color del icono */
padding: 10px;
border-radius: 50%;
}


  